.highlight {
  background-color: yellow;
}
.highlight_block {
  display: block;
  background-color: yellow;
}
div.special{

    display: inline-flex;
    width: 250px;
    height: 125px;
    background-color: yellow;
    border: 5px solid green;
    box-shadow: none;
}
