div + p {
  border: 1px dotted #ff0000;
  border-top: 3px solid #ff0000;
  border-right: 3px solid #ff0000;
  margin-left: 150px;
  width: 200px;
}
div > p {
    background-color: #bcf5db;
    border-style: dotted;
}
div p {

    background-color: #bcf5db;
}
body {
  background-color: lightgrey;
}
