.hzerntriert {
  display: flex;
  justify-content: center;
}
.vzerntriert {
  display: flex;
  align-items: center;
}
div {
  background-color: red;
  border: 5px solid green;
  width: 250px;
  height: 150px;
}

html {
  background-color: lightblue;
}

pre {
  display: inline;
}

.zerntriert {
  margin: 0 auto;
}
.textzerntireren {
  text-align: center;
}
.bildzentrieren {
  display: block;
  margin: 0 auto;
  width: 250px;
}
.rechts {
  position: absolute;
  right: 0px;
}
.clearfix {
  overflow: auto;
}
.mittig {
  display: flex;
  justify-content: center;
  align-items: center;
}
