div {
  background-color: red;
  border: 5px solid green;
  width: 80%;
  height: 150px;
}
.inline {
  background-color: yellow;
  display: inline;
}
.myblock {
  background-color: yellow;
  display: block;
}
.mycontents {
  display: contents;
  background-color: yellow;
  border: 5px solid blue;
}
.myflex {
  display: flex;
  background-color: yellow;
}
.myinlineblock {
  display: inline-block;
  background-color: yellow;
  height: 50px;
}
