body{
    background-color: green ;
}

span {
    background-color: grey;
    color: yellow;
    font-weight: bold;
}

h3 {

border: red;
border-radius: 10px;
border-style: dotted;

}

div {

width: 500px;
height: 500px;
background-color: aqua;

}

p {

    color: lightgreen;
}